/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 21 mar. 2022, 14:00:58
    Author     : Cesar
*/

.section1{
    margin:0 auto;
    margin-top: 20%;
    padding:0;
}

.section{
    margin:0 auto;
    margin-top: 20%;
    padding:-30px;
}
